html, body {
	height: 100%;
  overflow: hidden;
}

.main-container {
  width: 1000px;
  height: 640px;
  margin: auto auto;
  background-color: rgb(50, 50, 50);
}

.title {
  height: 70px;
  width: 300px;
  margin: 0px auto 0 auto;

  background-color: rgb(120, 120, 120);
  text-align: center;
}

.sketch-holder {
	width: 900px;
	height: 500px;
	margin: 0 auto;
}

.button-container {
  height: 70px;
  width: 600px;
  margin: 0 auto;

  background-color: rgb(120, 120, 120);
  text-align: center;
}